body {
  overflow: hidden;
}
#wrapper {
  height: 100vh;
  width: 100%;
}
header {
  min-height: 120px;
  border-bottom: 1px solid grey;
}
hr {
  margin-top: 0;
  margin-bottom: 0;
}

/* buttons */

#player-buttons {
  text-align: center;
}
#player-buttons ul li a {
  display: inline-block;
  border-radius: 50%;
  background-color: gray;
  padding-left: 0px;
  padding-right: 0px;
}
#pause-btn, #stop-btn {
  height: 30px;
  width: 30px;
  vertical-align: baseline;
}
#pause-btn i, #stop-btn i {
  font-size: 15px;
  margin-top: 7px;
}
#play-btn {
  height: 50px;
  width: 50px;
}
#play-btn i {
  font-size: 30px;
  margin-top: 10px;
  margin-left: 5px;
}
#settings-btn {
  position: absolute;
  top: 5px;
  right: 5px;
}
#realtime-info h3 {
  padding-right: 0;
}
#realtime-info h3 {
  height: 26px;
  margin-top: 20px;
  margin-bottom: 4px;
  padding-left: 0px;
}
#library {
  height: 100%;
  overflow-x: hidden;
}
