<!DOCTYPE html>
<html ng-app="appModule">

<head>
    <meta charset="utf-8">
    <title>Cube Player</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/css/font-awesome.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="../../assets/css/bootstrap.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="../../assets/lib/jquery-ui.min.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="../../assets/css/home.css" media="screen" title="no title" charset="utf-8">
    <script type="text/javascript" src="../../assets/lib/jquery-1.12.1.js"></script>
    <script type="text/javascript" src="../../assets/lib/jquery-1.12.1.js"></script>
    <script type="text/javascript" src="../../assets/lib/bootstrap.js"></script>
    <script src="../../node_modules/angular/angular.js"></script>
    <script src="../../node_modules/angular-filter/dist/angular-filter.min.js"></script>
    <script src="../../node_modules/howler/dist/howler.core.min.js"></script>
    <script src="../../node_modules/howler/dist/howler.min.js"></script>
    <script src="../../node_modules/async/dist/async.min.js"></script>
    <script src="../../node_modules/lokijs/build/lokijs.min.js"></script>
    <script src="../../node_modules/lokijs/build/loki-indexed-adapter.min.js"></script>
    <script type="text/javascript" src="../../assets/lib/jquery-ui.min.js"></script>
    <script type="text/javascript" src="../../assets/lib/modernizr-custom.js"></script>
    <script type="text/javascript" src="../../assets/js/home.js"></script>
</head>

<body ng-controller="cubePlayerCtrl">
    <header id="header" ondragstart="return false;" ondrop="return false;" class="row">
        <div class="container">
            <div id="basic-controls" class="col-xs-4">
                <div id="player-buttons" class="col-xs-12">
                    <ul class="list-inline">
                        <li><a id="pause-btn" class="small-btn"><i class="fa fa-pause"></i></a></li>
                        <li><a id="play-btn" class="big-btn"><i class="fa fa-play"></i></a></li>
                        <li><a id="stop-btn" class="small-btn"><i class="fa fa-stop"></i></a></li>
                    </ul>
                </div>
                <div id="player-volume" class="col-xs-12">
                    <a id="volume-btn" class="small-btn"><i class="fa fa-volume"></i></a>
                    <div id="volume-slider"></div>
                </div>
            </div>

            <div id="realtime-info" class="col-xs-8">
                <h3 class="col-xs-12">Playing: <small ng-bind="musicHolder.title ? musicHolder.title : '--'" style="color:white"></small></h3>
                <div class="col-xs-12">
                    <div id="music-slider"></div>
                    <p></p>
                </div>
                <div class="col-xs-12">
                    <h5 id="music-time">{{musicHolder.time ? musicHolder.time : '0:00'}} / {{musicHolder.duration ? musicHolder.duration : '0:00'}}</h5>
                </div>
            </div>

            <a id="settings-btn" class="small-btn pull-right"><i class="fa fa-cog"></i></a>
        </div>
    </header>

    <div id="library" ng-class="musics.length > 0 ? 'container' : 'container bg-default'">
        <div ng-repeat="(key, value) in musics | groupBy: 'artist'">
            <div>
                <h4 ng-bind="key"></h4>
                <hr>
            </div>
            <div class="row" ng-repeat="(key, value) in value | groupBy: 'album'">
                <div class="col-xs-12">
                    <h5 ng-bind="key"></h5>
                </div>
                <div class="col-xs-4">
                    <img width="100" height="100"></img>
                </div>
                <div class="col-xs-8">
                    <table class="table">
                        <tbody>
                            <tr ng-repeat="music in value | orderBy: 'trackno' track by music.title" ng-dblClick="playMusic(music)">
                                <td ng-bind="music.trackno"></td>
                                <td ng-bind="music.title"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
